RewriteEngine On

# umwelt-taxi-insel-usedom.de -> /Taxi-App
RewriteCond %{HTTP_HOST} ^(www\.)?umwelt-taxi-insel-usedom\.de$ [NC]
RewriteCond %{REQUEST_URI} !^/Taxi-App/
RewriteRule ^(.*)$ /Taxi-App/$1 [L]

# taschenlokal.de -> /taschenlokal-de
RewriteCond %{HTTP_HOST} ^(www\.)?taschenlokal\.de$ [NC]
RewriteCond %{REQUEST_URI} !^/taschenlokal-de/
RewriteRule ^(.*)$ /taschenlokal-de/$1 [L]

# strandurlaub-heringsdorf.de -> /strandurlaub-heringsdorf-de
RewriteCond %{HTTP_HOST} ^(www\.)?strandurlaub-heringsdorf\.de$ [NC]
RewriteCond %{REQUEST_URI} !^/strandurlaub-heringsdorf-de/
RewriteRule ^(.*)$ /strandurlaub-heringsdorf-de/$1 [L]
